main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #A5BF13;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container-images-and-text {
    display: flex;
}

.text {
    margin: 10px;
}
